body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#canvas {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(90vh, 90vw);
    height: min(90vh, 90vw);
    margin: 0;
}